<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{{!--
<!------ Include the above in your HEAD tag ----------> --}}
<section class="pe-5 ps-5 text-center container-xxl position-relative bg-white d-flex p-0">
    <div class="content p-2 d-flex justify-content-center">
        <form class="form-horizontal " action="/admin/productEdit/{{products._id}}" method="post"
            enctype="multipart/form-data" id="addProduct">


            <!-- Form Name -->
            <legend>Edit Products</legend>
            {{#if proErr}}
            <p class="text-danger">{{proErr}}</p>
            {{/if}}
            {{#if proSucc}}
            <p class="text-success">{{proSucc}}</p>
            {{/if}}

            <!-- Text input-->
            <div class="form-group text-center">
                <label class=" control-label" for="product_name">PRODUCT NAME</label>
                <div class="addInput">
                    <input id="product_name" name="product_name" value="{{products.product.product_name}}"
                        class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="product_name_fr">PRODUCT DESCRIPTION FR</label>
                <div class="addInput">
                    <input id="product_name_fr" name="product_name_fr" value="{{products.product.product_name_fr}}"
                        class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="control-label" for="product_categorie">PRODUCT CATEGORY</label>
                <div class=" addInput">
                    <select id="product_categorie" name="product_categorie" class="form-control my-select selectpicker"
                        data-container="body">
                        <option>{{products.product.product_categorie}}</option>

                        {{!-- {{#each category}}
                        <option>{{this.categoryName}}</option>
                        {{/each}} --}}
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class=" control-label" for="available_quantity">AVAILABLE QUANTITY</label>
                <div class="addInput">
                    <input id="available_quantity" name="available_quantity"
                        value="{{products.product.available_quantity}}" class="form-control input-md" required=""
                        type="text">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="control-label" for="product_description">PRODUCT DESCRIPTION</label>
                <div class="addInput">
                    <textarea class="form-control" id="product_description"
                        name="product_description">{{products.product.product_description}}</textarea>
                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class=" control-label" for="stock_alert">STOCK ALERT</label>
                <div class=" addInput">
                    <input id="stock_alert" name="stock_alert" value="{{products.product.stock_alert}}"
                        class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Search input-->
            <div class="form-group">
                <label class=" control-label" for="stock_critical">Price</label>
                <div class=" addInput">
                    <input id="stock_critical" name="price" value="{{products.product.price}}"
                        class="form-control input-md" required="" type="search">

                </div>
            </div>



            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="author">Company</label>
                <div class=" addInput">
                    <input id="author" name="author" value="{{products.product.author}}" class="form-control input-md"
                        required="" type="text">

                </div>
            </div>


            <!-- File Button -->
            <div class="form-group mt-3">
                <label class=" control-label" for="filebutton">main_image</label>
                <div class=" addInput">
                    <input id="filebutton" name="image" class="input-file" type="file" required>
                </div>
            </div>
            <!-- File Button -->
            <div class="form-group">
                <label class="control-label" for="filebutton">images2</label>
                <div class=" addInput">
                    <input id="filebutton" name="image" class="input-file" type="file" required>
                </div>
            </div>
            <!-- File Button -->
            <div class="form-group">
                <label class="control-label" for="filebutton">images3</label>
                <div class=" addInput">
                    <input id="filebutton" name="image" class="input-file" type="file" required>
                </div>
            </div>
            <!-- File Button -->
            <div class="form-group">
                <label class="control-label" for="filebutton">images4</label>
                <div class=" addInput">
                    <input id="filebutton" name="image" class="input-file" type="file" required>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">

                <div class="addInput">
                    <button id="singlebutton" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>


        </form>
    </div>
</section>
{{!-- validation --}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>

<style>
    .error {
        color: red;

    }
</style>

<style>
    @media (min-width: 989px) {

        .addInput {
            width: 500px;
        }
    }

    @media (max-width: 988.98px) {
        .addInput {
            width: 100%;
        }
    }
</style>

<script>
    $("#addProduct").validate({
        rules: {
            product_name: {
                required: true,
                minlength: 3
            },

            product_name_fr: {
                required: true,
                minlength: 3
            },

            product_categorie: {
                required: true,

            },

            available_quantity: {
                required: true,

            },

            price: {
                required: true,
            },
            author: {
                required: true,
            },
            image: {
                required: true,
            },


        },
        messages: {

            image: {
                required: "the Image is required"

            },
        }
    })
    $(document).ready(function () {
        $("#addProduct").validate(function () {
            alert("Submitted");
        });
    });

     function successMess() {
        alert("SuccessFully Add");
    }
</script>