<div class="container-xxl position-relative bg-white d-flex p-0 products" ng-app="app" ng-controller="AppCtrl">

    <div class="content p-4">
        <a type="button" class="btn btn-success" href="/admin/addCoupon"><i class="fas fa-plus"></i> Add
            Category</a>
        <div class="actionpane  text-center">
            <h2 class=" fw-bold fw-larger">Coupon Management</h2>
        </div>

        <div class="tables p-3 ">
            <table
                class="table  table-striped table-bordered border table-hover table-checkable order-column dataTable mt-3"
                id="userTable">
                <thead class="">
                    <tr>
                        <th>Coupon Id</th>
                        <th>Coupon Name</th>
                        <th>Coupon Code</th>
                        <th>Discount</th>
                       
                        <th>Delete</th>{{!-- <th>Status</th> --}}
                    </tr>
                </thead>
                <tbody>

                    {{#each couponDetails}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.couponName}}</td>
                        <td><span class="name">{{this.couponCode}}</span>
                        </td>
                        <td>{{this.discount}} %</td>
                        
                        <td class="text-center">
                            <a onclick="couponDel('{{this._id}}')" type="button" class="viewCateg text-danger pe-2"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>
                        {{!-- <td>{{status}}</td> --}}
                        {{!-- <td><span class="label label-success"> Available </span></td> --}}
                        {{!-- <td>{{this.date}}</td> --}}
                    </tr>
                    {{/each}}
                    {{!--
                    <!-- Modal HTML -->--}}





                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .products {
        .name {
            border-bottom: 1px dotted #ccc;
            cursor: pointer;
        }
    }
</style>
<script>

    function couponDel(couponId) {
        $.ajax({
            url: '/admin/couponDel/' + couponId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Coupon deleted',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    location.reload()
                }
            },
            error: (response) => {
                alert(response)
            }
        })
    }

    $(document).ready(function () {
        $('#userTable').DataTable();
    });
</script>