<section class="cart_area padding_top">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        {{!-- {{#if cartErr}}
        <p class="text-danger">cartErr</p>
        {{/if}} --}}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              
              <th scope="col" class="text-center">Remove</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="/product-images/{{product.image.[0]}}" alt="" width="140" height="auto" />
                  </div>
                  <div class="media-body">
                    <p>{{this.product.product.product_name}}</p>
                  </div>

                </div>
              </td>
              <td>
                <h5>{{this.product.product.price}}</h5>
              </td>
              <td>
                {{!-- <div class="product_count">
                  <span class="input-number-decrement"
                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)"> <i
                      class="ti-angle-down"></i></span>
                  <input class="" type="text" value="{{this.quantity}}" min="0" max="10">
                  <span class="input-number-increment"
                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)"> <i
                      class="ti-angle-up"></i></span>
                </div> --}}
                <button class="cart-items-count me-3"
                  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                <span id="{{this.product._id}}">{{this.quantity}}</span>
                <button class="cart-items-count ms-3"
                  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
              </td>
              {{!-- <td>
                <h5>{{totalValue}}</h5>
              </td> --}}
              <td class=" text-center">
                <p onclick="removeCartProduct('{{this._id}}','{{this.product._id}}')"><i class="removeButton fas fa-times text-danger fw-bold" ></i></p>
              </td>
            </tr>
            {{/each}}
          
            <tr class="bottom_button">
              <td>
                {{!-- <a class="btn_1" href="">Coupon</a> --}}
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="cupon_text float-right">
                  <a class="btn_1" href="/userProduct">Add Products</a>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td class="d-flex">
                <h5 >Rs <p id="total">{{totalValue}}</p></h5>
              </td>
            </tr>
            <tr class="shipping_area">
              <td></td>
              <td></td>
              {{!-- <td>
                <h5>Shipping</h5>
              </td> --}}
              {{!-- <td>
                <div class="shipping_box">
                  <ul class="list">
                    <li>
                      <a href="#">Flat Rate: $5.00</a>
                    </li>
                    <li>
                      <a href="#">Free Shipping</a>
                    </li>
                    <li>
                      <a href="#">Flat Rate: $10.00</a>
                    </li>
                    <li class="active">
                      <a href="#">Local Delivery: $2.00</a>
                    </li>
                  </ul>
                  <h6>
                    Calculate Shipping
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </h6>
                  <select class="shipping_select">
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="4">Pakistan</option>
                  </select>
                  <select class="shipping_select section_bg">
                    <option value="1">Select a State</option>
                    <option value="2">Select a State</option>
                    <option value="4">Select a State</option>
                  </select>
                  <input type="text" placeholder="Postcode/Zipcode" />
                  <a class="btn_1" href="#">Update Details</a>
                </div>
              </td> --}}
            </tr>
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="/">Continue Shopping</a>
          <a class="btn_1 checkout_btn_1" href="/checkout">Proceed to checkout</a>
        </div>
      </div>
    </div>
</section>
<style>
  .removeButton {
    cursor: pointer;
  }

  .removeButton:hover {
    transform: scale(1.3)
  }
</style>