<section class="orderDetails " style="
    margin-top: 80px;
">
    <div class="container">
        <div class="container-xxl bg-white d-flex justify-content-center products" ng-app="app" ng-controller="AppCtrl">

            <div class="content ">
                <div class="actionpane  text-center">
                    <h2 class=" fw-bold fw-larger">My Orders</h2>
                </div>

                <div class="tables ">
                    <table
                        class="table   table-bordered border table-hover table-checkable order-column dataTable mt-3"
                        id="userTable">
                        <thead class="">
                            <tr>
                                <th>ID</th>
                                
                                <th>Mobile</th>
                                <th>Pincode</th>
                                <th>Coupon Code</th>
                                <th>Amount</th>
                                <th>Payment</th>
                                <th>Date</th>
                                <th>Status</th>
                                 {{!-- <th>Status</th> --}}
                            </tr>
                        </thead>
                        <tbody>

                            {{#each orders}}
                            <tr class="{{this.status}}">
                                <td>{{this._id}}</td>
                                <td><span class="name">{{this.deliverDetails.mobile}}</span>
                                </td>
                                <td>{{this.deliverDetails.pincode}}</td>
                                <td>{{this.couponId}}</td>
                                <td>{{this.totalAmount}}</td>
                                <td>{{this.paymentMethod}}</td>
                                <td>{{this.date}}</td>
                                <td>{{this.status}}</td>
                                <td class="text-center">
                                    <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View
                                        Products</a>
                                </td>
                                <td class="text-center">
                                    <button onclick="cancelOrder('{{this._id}}')" class="btn btn-primary">Cancle</button>
                                </td>
                                {{!-- <td>{{status}}</td> --}}
                                {{!-- <td><span class="label label-success"> Available </span></td> --}}
                                {{!-- <td>{{this.date}}</td> --}}
                            </tr>
                            {{/each}}
                            {{!--
                            <!-- Modal HTML -->--}}





                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .products {
        .name {
            border-bottom: 1px dotted #ccc;
            cursor: pointer;
        }
    }
    .pending {
        background-color: rgba(235, 84, 84, 0.734);
        color: #fff;
    }
     .Shipped {
        background-color: rgba(192, 235, 84, 0.734);
        
    }
</style>
<script>



    $(document).ready(function () {
        $('#userTable').DataTable();
    });
</script>