<section class="">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="row mt-5">
            <div class="p-3 d-flex justify-content-around">
            {{#each products }}
            <div class="col-md-3 ">
                <div class="card " style="width: 15rem; height:23rem">
                    <img class="card-img-top " style="height:12rem" src="/product-images/{{product.image.[0]}}"
                        alt="card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{product.product.product_name}}</h5>
                        <p class="card-text">Rs:<span>{{product.product.price}}</span></p>
                        <p class="card-text">Quantity : {{this.quantity}}</p>
                        <p class="card-text">{{product.product.product_name_fr}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            </div>
        </div>
    </div>
</section>